body{
  background-color: #4154A8;
  color: #E6E6E6;
  text-align: center;
  border: 40px solid black;
  font-family: 'Source Sans Pro', sans-serif;
}

p{
  margin-left: 30%;
  margin-right: 30%;
}

input{
  font-size: 1.2em;
}

label{
  font-size: 1.2em;
}

#boton{
  background-color: grey;
  color: white;
  margin: 20px;
  height: 50px;
  width: 100px;
  font-size: 1.2em;
  border-radius: 15px;
}
