*{ 
	margin:  0;/*refresca margenes*/
	padding:  0;
}
body{ 
	font-family:  'arial', sans-serif; /*fuente arial, o busca sans-serif*/
	font-size:  15px; 
	line-height: 1.5em;/*Usando tamaño relativo de pixeles*/
	background: #f4f4f4; 
}

#contenedor{
	background: #454545;
	margin: 50px auto;
	overflow: auto; 
	width: 60%; 
	min-height: : 200px;
	border-radius: 12px;
	-moz-border-radius: 12px;/*compatibilidad con diferentes navegadores*/
	-webkit-border-radius: 12px;
	-o-border-radius: 12px;
}

header h1{
	color: #fff;
	font-size: 22px;
	padding: 15px 0 10px 10px;/*Margen interior*/
	border-bottom: 1px solid #fff;
}

#formulario{
	width: 90%;
	min-height: 80px;
	margin: auto;
	padding: 0;
	margin-top: 20px; /*Margen en la parte de arrbia, se sobreescribe pero se conservan margin auto derecha izquierda*/
}

#formulario input[type="text"], #formulario input[type="email"], #formulario input[type="url"]{
	height: 25px;
	width: 48%;
	padding: 3px;
	margin-bottom: 20px;
	border:  1px solid #666666;
} /*pseudo elemento*/

textarea{
	width: 100%;
}

#formulario .boton-enviar{
	padding: 5px;
	width: 50%;
	margin: 10px auto;
	float:  right;/*alinear a la derecha*/
	border: 0;
	color: #fff;
	font-size: 16px;
	background: #2790d2;
}/*botom*/

#formulario .boton-enviar:hover{
	background: #35a6ee;
}/*cambio de color cuando se pase el cursor: hover*/

/*MEDIA QUERIES PARA RESPONSIVE*/

/*Estilo para smartphones*/
@media only screen and (max-width: 768px){

	#formulario input[type="text"], #formulario input[type="email"], #formulario input[type="url"]{
		width: 98%;	
	} /*adaptar casillas a resolucion*/

	#formulario .boton-enviar{
		width: 100%;
	}
}

/*Estilo para tablets*/
@media only screen and (min-width: 769px) and (max-width: 990px){
	
	#formulario input[type="text"], #formulario input[type="email"], #formulario input[type="url"]{
		width: 98%;	
	} /*adaptar casillas a resolucion*/

	#formulario .boton-enviar{
		width: 100%;
	}
}